.logo img{
    width: 150px;
    height: 70px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0% 5%;
    padding-top:1%;
}
.nav-list{
    /* background-color: red; */
    /* width: 100%; */
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;

}
ul .nav-item{
    list-style: none;
    
}
ul .nav-item a{
    text-decoration: none;
    font-size:15px;
    text-transform: uppercase;
    color:#000;
    cursor:pointer;
    transition:all ease-in-out .2s;
    padding:5px 10px;
}
ul  #signup{
    padding:10px 60px;
    border:1px solid #000;
    border-radius:30px;

color:#000;
}
ul .nav-item a:hover{
    background-color: #e7e6e6;
}
ul #signup:hover,.texts button:hover{
    background-color: #000;
    color:#fff;
}