.logo img{
    width: 150px;
    height: 70px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0% 5%;
    padding-top:1%;
}
.nav-list{
    /* background-color: red; */
    /* width: 100%; */
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;

}
ul .nav-item{
    list-style: none;
    
}
ul .nav-item a{
    text-decoration: none;
    font-size:15px;
    text-transform: uppercase;
    color:#000;
    cursor:pointer;
    transition:all ease-in-out .2s;
    padding:5px 10px;
}
ul  #signup{
    padding:10px 60px;
    border:1px solid #000;
    border-radius:30px;

color:#000;
}
ul .nav-item a:hover{
    background-color: #e7e6e6;
}
ul #signup:hover,.texts button:hover{
    background-color: #000;
    color:#fff;
}
.menu{
    width:60px;
    height: 60px;
    border: 1.5px solid #000;
    border-radius: 50%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position:relative;
    display: none;
    background-color: transparent;
}

.menu i{
    font-size: 40px;
    color:#000;
    cursor: pointer;
    position:absolute;
    top:10px;
    left:10px;
  
}
.bi {
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}
.sidebar {
    display: none !important; /* Force hiding the sidebar */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start !important;
    transition: transform 0.3s ease-in-out;
    /* transform: translateX(100%);  */
}
.sidebar.show{
    display: flex !important;
    transform: translateX(0);
}
.sidebar .nav-item {
    
    /* background-color: red; */
        width: 100%;
    }
    .sidebar .nav-item a{
        width: 100%;
        /* background-color: #000; */
    }
@media (max-width:1060px){
    .menu{
        display: block;
    }
   .nav ul{
        display: none;
        /* position: absolute;
        top: 80px;
        right: 5%;
        background-color: #fff;
        width: 200px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    }
 /* 
    
    .nav ul.show-menu {
        display: block;
    }

   ul {
        flex-direction: column;
        gap: 10px;
    } */
    
   

}


